@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");


*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3em 8em;
    background: limegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#icon{
    font-size: 43px;
    color: white;
    display: none;
}
.logo{
    font-size: 33px;
    color: white;
    font-weight: 800;
}
.navbar a{
    font-size: 20px;
    color: white;
    margin-left: 4em;
    font-weight: 500;
}

@media(max-width:950px){
    #icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        text-align: center;
        border: 5px solid lawngreen;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 1rem 3%;
        background-color: white;
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        color: lawngreen;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar a:hover{
        border-bottom: 3px solid limegreen;
    }
}
